// @import "app/libs/magnific-popup/dist/magnific-popup";
// @import "app/libs/slick-carousel/slick/slick";
// body {
//     background-color: grey;
// }
@import "vars";
@import "fonts";
body {}

ul {
    padding: 0;
    margin: 0;
}

a {
    display: inline-block;
    text-decoration: underline;
}